
@media (max-width:1199px){
#search{right:15px;}
#container{padding:20px 15px;}
.box-dt{max-width:95%;}
.box-tintuc{max-width:95%;}
.main-sanphamnoibat{
    padding-top: 42px;
    padding-bottom: 30px;
}
.c1-menu{
    width: 98% !important;
}
}
@media (min-width:992px) and (max-width:1199px){

.box-sp{width:32%;margin:0px 2% 20px 0px;}
.box-sp:nth-child(3n){margin-right:0;}
.box-sp:nth-child(3n+1){clear:both;}
.box-product{width:32%;margin:0px 2% 20px 0px;}
.box-product:nth-child(3n){margin-right:0;}
.box-product:nth-child(3n+1){clear:both;}
.box-album{width:32%;margin:0px 2% 20px 0px;}
.box-album:nth-child(3n){margin-right:0;}
.box-album:nth-child(3n+1){clear:both;}
.box-video{width:32%;margin:0px 2% 20px 0px;}
.box-video:nth-child(3n){margin-right:0;}
.box-video:nth-child(3n+1){clear:both;}
.footer-1{width:35%;margin:0px;}
.footer-2{width:calc(35% - 20px);margin:0 0 0 20px;}
.footer-3{width:calc(30% - 20px);margin:0 0 0 20px;}
.slick-doitac .slick-prev:before{
    margin-left: 0px;
}
.main-sanphamnoibat{
    padding-top: 42px;
    padding-bottom: 30px;
}
.c1-menu{
    width: 98% !important;
}
}
@media (max-width:991px){
#header,.banner-ab,#menu,.right{display:none;}
#banner .center{display:flex;align-items:center;justify-content:center;}
.logo{position:static;padding:0;margin-right:15px;}
.banner{padding:0;}
#menu-mobile{display:block;}
#smenu a{font-family:RM;color:#fff;font-size:16px;margin-left:5px;}
.left{width:100%;}
.slick-doitac .slick-prev:before{
    margin-left: 0px;
}
.footer-3{
    padding-top: 10px;
}
.text-tintuc{
    margin-bottom: 10px;
}
.main-sanphamnoibat{
    padding-top: 42px;
    padding-bottom: 30px;
}
.c1-menu{
    width: 98% !important;
}
}
@media (min-width:768px) and (max-width:991px){
.box-sp{width:32%;margin:0px 2% 20px 0px;}
.box-sp:nth-child(3n){margin-right:0;}
.box-sp:nth-child(3n+1){clear:both;}
.box-product{width:32%;margin:0px 2% 20px 0px;}
.box-product:nth-child(3n){margin-right:0;}
.box-product:nth-child(3n+1){clear:both;}
.box-album{width:32%;margin:0px 2% 20px 0px;}
.box-album:nth-child(3n){margin-right:0;}
.box-album:nth-child(3n+1){clear:both;}
.box-video{width:32%;margin:0px 2% 20px 0px;}
.box-video:nth-child(3n){margin-right:0;}
.box-video:nth-child(3n+1){clear:both;}
.footer-1{width:100%;float:none;margin:0 0 15px;}
.footer-2{width:350px;float:left;}
.footer-3{width:350px;float:right;}
#banner{
    display: block;
    padding: 5px 0px;
}
.main-sanphamnoibat{
    padding-top: 42px;
    padding-bottom: 30px;
}
.wrap-sanphamnoibat{
    width: calc(100%/3);
}
.main-tintuc{
    padding-top: 25px;
    padding-bottom: 35px;
}
.slick-doitac .slick-prev:before{
    margin-left: 0px;
}
.footer-content{
    width: 100%;
}
.footer-3{
    padding-top: 10px;
}
.text-tintuc{
    margin-bottom: 10px;
}
}
@media (max-width:767px){
.btn-zalo,.btn-phone,#messages-facebook{display:none;}
.fix-toolbar{display:block;}
.content iframe{width:100%!important;height:45vh;}
.content img{height:inherit!important}
.logo{position:static;margin-right:10px;height:auto;}
#footer{padding-bottom:45px;}
.footer-top{padding-bottom:0;}
.footer-1,.footer-2,.footer-3{width:100%;float:none;margin:0 0 20px 0;}
.copyright,.statistic{width:100%;}
.statistic span{margin:0 5px;}
.ft-b .center > div{width:100%;}
.top-contact .article-contact{width:100%;margin-bottom:20px;}
.form-contact{width:100%;}
#top .center > div{width:100%;}
#top #breadcrumb{margin-bottom:0}
.box-news{width:100%;float:none;margin:0 0 20px;}
.pic-news{width:35%;}
.bottom-left{width:100%;margin-bottom:20px;}
.bottom-right:not(.onApp){width:100%;}
.tintuc-l{width:100%;margin-bottom:20px;}
.tintuc-r{width:100%;}
.left-pro-detail{float:none;width:100%;margin:0 0 20px;}
.right-pro-detail{float:none;width:100%;}
.grid-thuvienanh{grid-template-columns:repeat(2,1fr);grid-template-rows:repeat(4,22vh);}
.box-thuvienanh .box-thuvienanh-content{background:rgba(0,0,0,0.4);color:#fff;}
.main-sanphamnoibat{
    padding-top: 35px;
    padding-bottom: 30px;
}
.main-tintuc{
    padding-top: 22px;
    padding-bottom: 32px;
}
.slick-doitac .slick-prev:before{
    margin-left: 0px;
}
.footer-content{
    width: 100%;
}
.footer-3{
    padding-top: 10px;
}
#banner{
    display: block;
    padding: 5px 0px;
}
.text-tintuc{
    margin-bottom: 10px;
}
}
@media (min-width:481px) and (max-width:767px){
.box-sp{width:49%;margin:0px 2% 15px 0px;}
.box-sp:nth-child(2n){margin-right:0;}
.box-sp:nth-child(2n+1){clear:both;}
.box-product{width:49%;margin:0px 2% 15px 0px;}
.box-product:nth-child(2n){margin-right:0;}
.box-product:nth-child(2n+1){clear:both;}
.box-album{width:49%;margin:0px 2% 15px 0px;}
.box-album:nth-child(2n){margin-right:0;}
.box-album:nth-child(2n+1){clear:both;}
.box-video{width:49%;margin:0px 2% 15px 0px;}
.box-video:nth-child(2n){margin-right:0;}
.box-video:nth-child(2n+1){clear:both;}
.main-sanphamnoibat{
    padding-top: 25px;
    padding-bottom: 30px;
}
.wrap-sanphamnoibat{
    width: calc(100%/2);
}
.main-tintuc{
    padding-top: 22px;
    padding-bottom: 32px;
}
.slick-doitac .slick-prev:before{
    margin-left: 0px;
}
.footer-content{
    width: 100%;
}
.footer-3{
    padding-top: 10px;
}
#banner{
    display: block;
    padding: 5px 0px;
}
.text-tintuc{
    margin-bottom: 10px;
}
}
@media (max-width:480px){
.box-sp{width:49%;margin:0px 2% 10px 0px;}
.box-sp:nth-child(2n){margin-right:0;}
.box-sp:nth-child(2n+1){clear:both;}
.box-product{width:49%;margin:0px 2% 10px 0px;}
.box-product:nth-child(2n){margin-right:0;}
.box-product:nth-child(2n+1){clear:both;}
.box-album{width:49%;margin:0px 2% 10px 0px;}
.box-album:nth-child(2n){margin-right:0;}
.box-album:nth-child(2n+1){clear:both;}
.box-video{width:49%;margin:0px 2% 10px 0px;}
.box-video:nth-child(2n){margin-right:0;}
.box-video:nth-child(2n+1){clear:both;}
.main-sanphamnoibat{
    padding-top: 25px;
    padding-bottom: 30px;
}
.wrap-sanphamnoibat{
    width: calc(100%/1);
}
.main-tintuc{
    padding-top: 20px;
    padding-bottom: 25px;
}
.slick-doitac .slick-prev:before{
    margin-left: 0px;
}
.footer-content{
    width: 100%;
}
.footer-3{
    padding-top: 10px;
}
#banner{
    display: block;
    padding: 5px 0px;
}
.text-tintuc{
    margin-bottom: 10px;
}
}
@media (max-width:374px){
.lh-con-l,.lh-con-r{width:100%;float:none;margin:0px;padding:0px;}
.lh-con-r{margin-bottom:10px;}
.box-sp{width:90%;margin:0px 5% 10px;float:none;}
.box-product{width:90%;margin:0px 5% 10px;float:none;}
.box-album{width:90%;margin:0px 5% 10px;float:none;}
.box-video{width:90%;margin:0px 5% 10px;float:none;}
}