@charset "UTF-8";

/*-----------css reset---------------------*/
* { margin: 0; padding: 0; }
html, body, div, span { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent }
body { line-height: 1 }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
:focus { outline: 0 }
ins { text-decoration: none }
del { text-decoration: line-through }
table { border-collapse: collapse; border-spacing: 0 }
a, a:hover, a:focus { outline: none !important; }

/* Font face*/
@font-face { font-display: swap; font-family: RCB; src: url('fonts/RobotoCondensedBold.eot'); src: url('fonts/RobotoCondensedBold.eot') format('embedded-opentype'), url('fonts/RobotoCondensedBold.woff2') format('woff2'), url('fonts/RobotoCondensedBold.woff') format('woff'), url('fonts/RobotoCondensedBold.ttf') format('truetype'), url('fonts/RobotoCondensedBold.svg#RobotoCondensedBold') format('svg'); }
@font-face { font-display: swap; font-family: RCR; src: url('fonts/RobotoCondensedRegular.eot'); src: url('fonts/RobotoCondensedRegular.eot') format('embedded-opentype'), url('fonts/RobotoCondensedRegular.woff2') format('woff2'), url('fonts/RobotoCondensedRegular.woff') format('woff'), url('fonts/RobotoCondensedRegular.ttf') format('truetype'), url('fonts/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg'); }
@font-face { font-display: swap; font-family: RM; src: url('fonts/RobotoMedium.eot'); src: url('fonts/RobotoMedium.eot') format('embedded-opentype'), url('fonts/RobotoMedium.woff2') format('woff2'), url('fonts/RobotoMedium.woff') format('woff'), url('fonts/RobotoMedium.ttf') format('truetype'), url('fonts/RobotoMedium.svg#RobotoMedium') format('svg'); }
@font-face { font-display: swap; font-family: RR; src: url('fonts/RobotoRegular.eot'); src: url('fonts/RobotoRegular.eot') format('embedded-opentype'), url('fonts/RobotoRegular.woff2') format('woff2'), url('fonts/RobotoRegular.woff') format('woff'), url('fonts/RobotoRegular.ttf') format('truetype'), url('fonts/RobotoRegular.svg#RobotoRegular') format('svg'); }
@font-face { font-display: swap; font-family: RB; src: url('fonts/RobotoBold.eot'); src: url('fonts/RobotoBold.eot') format('embedded-opentype'), url('fonts/RobotoBold.woff2') format('woff2'), url('fonts/RobotoBold.woff') format('woff'), url('fonts/RobotoBold.ttf') format('truetype'), url('fonts/RobotoBold.svg#RobotoBold') format('svg'); }
@font-face { font-display: swap; font-family: RL; src: url('fonts/RobotoLight.eot'); src: url('fonts/RobotoLight.eot') format('embedded-opentype'), url('fonts/RobotoLight.woff2') format('woff2'), url('fonts/RobotoLight.woff') format('woff'), url('fonts/RobotoLight.ttf') format('truetype'), url('fonts/RobotoLight.svg#RobotoLight') format('svg'); }
@font-face {
    font-family: 'SFUIDisplayBold';
    src: url('fonts/SFUIDisplayBold.eot');
    src: url('fonts/SFUIDisplayBold.eot') format('embedded-opentype'),
         url('fonts/SFUIDisplayBold.woff2') format('woff2'),
         url('fonts/SFUIDisplayBold.woff') format('woff'),
         url('fonts/SFUIDisplayBold.ttf') format('truetype'),
         url('fonts/SFUIDisplayBold.svg#SFUIDisplayBold') format('svg');
}
@font-face {
    font-family: 'sfuidisplaylight';
    src: url('fonts/sfuidisplaylight.eot');
    src: url('fonts/sfuidisplaylight.eot') format('embedded-opentype'),
         url('fonts/sfuidisplaylight.woff2') format('woff2'),
         url('fonts/sfuidisplaylight.woff') format('woff'),
         url('fonts/sfuidisplaylight.ttf') format('truetype'),
         url('fonts/sfuidisplaylight.svg#sfuidisplaylight') format('svg');
}
@font-face {
    font-family: 'sfuidisplayheavy586470160b9e5';
    src: url('fonts/sfuidisplayheavy586470160b9e5.eot');
    src: url('fonts/sfuidisplayheavy586470160b9e5.eot') format('embedded-opentype'),
         url('fonts/sfuidisplayheavy586470160b9e5.woff2') format('woff2'),
         url('fonts/sfuidisplayheavy586470160b9e5.woff') format('woff'),
         url('fonts/sfuidisplayheavy586470160b9e5.ttf') format('truetype'),
         url('fonts/sfuidisplayheavy586470160b9e5.svg#sfuidisplayheavy586470160b9e5') format('svg');
}
@font-face {
    font-family: 'sfuidisplaysemibold58646eddcae92';
    src: url('fonts/sfuidisplaysemibold58646eddcae92.eot');
    src: url('fonts/sfuidisplaysemibold58646eddcae92.eot') format('embedded-opentype'),
         url('fonts/sfuidisplaysemibold58646eddcae92.woff2') format('woff2'),
         url('fonts/sfuidisplaysemibold58646eddcae92.woff') format('woff'),
         url('fonts/sfuidisplaysemibold58646eddcae92.ttf') format('truetype'),
         url('fonts/sfuidisplaysemibold58646eddcae92.svg#sfuidisplaysemibold58646eddcae92') format('svg');
}
@font-face {
    font-family: 'sfuidisplaymedium58646be638f96';
    src: url('fonts/sfuidisplaymedium58646be638f96.eot');
    src: url('fonts/sfuidisplaymedium58646be638f96.eot') format('embedded-opentype'),
         url('fonts/sfuidisplaymedium58646be638f96.woff2') format('woff2'),
         url('fonts/sfuidisplaymedium58646be638f96.woff') format('woff'),
         url('fonts/sfuidisplaymedium58646be638f96.ttf') format('truetype'),
         url('fonts/sfuidisplaymedium58646be638f96.svg#sfuidisplaymedium58646be638f96') format('svg');
}
@font-face {
    font-family: 'sfuidisplayblack58646a6b80d5a';
    src: url('fonts/sfuidisplayblack58646a6b80d5a.eot');
    src: url('fonts/sfuidisplayblack58646a6b80d5a.eot') format('embedded-opentype'),
         url('fonts/sfuidisplayblack58646a6b80d5a.woff2') format('woff2'),
         url('fonts/sfuidisplayblack58646a6b80d5a.woff') format('woff'),
         url('fonts/sfuidisplayblack58646a6b80d5a.ttf') format('truetype'),
         url('fonts/sfuidisplayblack58646a6b80d5a.svg#sfuidisplayblack58646a6b80d5a') format('svg');
}
@font-face {
    font-family: 'NunitoRegular';
    src: url('fonts/NunitoRegular.eot');
    src: url('fonts/NunitoRegular.eot') format('embedded-opentype'),
         url('fonts/NunitoRegular.woff2') format('woff2'),
         url('fonts/NunitoRegular.woff') format('woff'),
         url('fonts/NunitoRegular.ttf') format('truetype'),
         url('fonts/NunitoRegular.svg#NunitoRegular') format('svg');
}
@font-face {
    font-family: 'NunitoExtraLight';
    src: url('fonts/NunitoExtraLight.eot');
    src: url('fonts/NunitoExtraLight.eot') format('embedded-opentype'),
         url('fonts/NunitoExtraLight.woff2') format('woff2'),
         url('fonts/NunitoExtraLight.woff') format('woff'),
         url('fonts/NunitoExtraLight.ttf') format('truetype'),
         url('fonts/NunitoExtraLight.svg#NunitoExtraLight') format('svg');
}
@font-face {
    font-family: 'NunitoLight';
    src: url('fonts/NunitoLight.eot');
    src: url('fonts/NunitoLight.eot') format('embedded-opentype'),
         url('fonts/NunitoLight.woff2') format('woff2'),
         url('fonts/NunitoLight.woff') format('woff'),
         url('fonts/NunitoLight.ttf') format('truetype'),
         url('fonts/NunitoLight.svg#NunitoLight') format('svg');
}
/*----------basic----------------*/
html, body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 25px; text-rendering: optimizeLegibility; }
a { text-decoration: none; color: #1471CE; transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; }
a:hover { text-decoration: none !important; color: #F00; }
::-webkit-scrollbar { background: #fff; width: 10px; height: 11px; }
::-webkit-scrollbar-thumb { background: #ccc; }

/*Prevent Firefox Scrollbar Jump*/
img { border: none; max-width: 100%; height: auto; vertical-align: middle; box-sizing: border-box; position: relative; height: auto; }
input, textarea { padding: 0; margin: 0; resize: none; outline: none; height: auto !important; line-height: 25px !important; }
select, .cp { cursor: pointer; }
.clear { clear: both; }
:focus { outline: 0; }
input:focus { outline: 1px solid #f97d17; }
textarea:focus { outline: 1px solid #f97d17; }
del { text-decoration: line-through }
table { border-collapse: collapse; border-spacing: 0 }
button { border: 0; cursor: pointer; font-weight: bold; outline: none }
ul, ol, dl { margin-left: 15px; text-decoration: none !important; }
body { background: #fff; font-family: 'Roboto', sans-serif; }
h1, h2, h3, h4, h5, h6 { margin: 0px; font-weight: normal; font-size: inherit; }
.content h1,.content h2, .content h3, .content h4, .content h5, .content h6{
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 2rem;
}
p { margin: 0; }
.content p{
    margin-bottom: 1rem;
}

/* My */
:root { --color-red: #ec2d3f; --color-medium-red: #cc2c32; --color-dark-red: #c31829; --color-green: #28a745; --color-dark-green: #207d36; --color-black: #212529; --color-gray: #6c757d; }
.w-clear:after { display: block; content: ""; clear: both; }
.hidden { display: none; }
.clear { clear: both; }
.none { display: none; }
.hidden-seoh { visibility: hidden; height: 0px; margin: 0px; overflow: hidden; }
.del { text-decoration: line-through; }
.center { position: relative; max-width: 1230px; margin: 0 auto; padding: 0 15px; }
.center-1200 { position: relative; max-width: 1230px; margin: 0 auto; padding: 7px 15px; }
.center-1033 { position: relative; max-width: 1063px; margin: 0 auto; padding: 0 15px; }
.center-1365 { position: relative; max-width: 1365px; margin: 0 auto; }
.center-1045 { position: relative; max-width: 1075px; margin: 0 auto; padding: 0 15px; }
.title-main { margin-bottom: 20px; text-align: center; }
.title-main h1, .title-main h2, .title-main span { display: inline-block; text-transform: uppercase;  font-size: 28px; font-family: 'sfuidisplayheavy586470160b9e5'; color: #0066b3; line-height: 40px; margin: 0; }
.title-main p { display: block; margin: 0; }
.title-detail { margin-bottom: 15px; color: #333; font-family: RB; }
.title-detail h1 { margin: 0; font-weight: normal; font-size: 25px; line-height: 28px; text-transform: capitalize; }
.title-detail p { display: none; }
.time-detail { margin-bottom: 10px; color: #999; }
.time-detail i { vertical-align: top; margin: 5px 10px 0px 0px; }
.time-detail span { vertical-align: top; display: inline-block; }
.control-carousel { position: absolute; top: calc(50% - 30px/2); margin-bottom: 0px; width: 30px; height: 30px; text-align: center; line-height: 30px; border: 1px solid #eee; z-index: 2; background-color: #fff; color: #ccc; cursor: pointer; }
.control-carousel:hover { background-color: var(--color-red); border-color: var(--color-red); color: #fff; }
.prev-carousel { left: 0px; }
.next-carousel { right: 0px; }

/* Container */
#container { padding: 30px 15px; }
#container img{
    height: auto!important;
}
.content-flex { display: flex; flex-flow: wrap; justify-content: space-between; }
.left { width: calc(100% - 300px) }
.right { width: 270px; }

/* Breadcrumb */
.breadCrumbs { background-color: #eee; padding: 10px 0; }
.breadCrumbs .center .breadcrumb { padding: 0; margin: 0; background-color: transparent; border-radius: 0; }
.breadCrumbs .center .breadcrumb-item a { color: var(--color-black); }
.breadCrumbs .center .breadcrumb-item a:hover { color: var(--color-medium-red); }
.breadCrumbs .center .breadcrumb-item.active a { color: var(--color-gray); pointer-events: none; }

/* General */
.mxh { list-style: none; padding: 0px; margin: 0px; display: flex; align-items: center; }
.mxh li { display: inline-block; vertical-align: top; margin-right: 5px; }
.mxh li:last-child { margin-right: 0px; }
.mxh li a { display: block; }
.mxh img { vertical-align: top; transition: all 0.5s; }
.mxh img:hover { -webkit-animation: rubberBand 1s; animation: rubberBand 1s; }

/* Header */
#header { color: #fff; background-color: var(--color-red); padding: 5px 0; }
#header span i { font-size: 16px; margin-right: 5px; position: relative; top: 1px; }

/* Banner */
#banner { background: #fff; }
.flex-banner { display: flex; justify-content: space-between; align-items: center; }
.logo { padding: 0; position: relative; height: 100%; }
.banner { padding: 0; }
.banner-ab { position: relative; }
.banner-hotline { display: inline-block; padding-left: 25px; background-image: url(../img/bg_hotline.png); background-repeat: no-repeat; background-position: 0 4px; font-family: RB; }
.banner-hotline p { margin-bottom: -2px; text-transform: capitalize; }
.banner-hotline span { color: var(--color-red); font-size: 20px; display: block; }

/* Menu */
#menu { background-color: #ffffff; position: -webkit-sticky; position: sticky; top: 0; z-index: 9; font-family: RR; font-size: 15px; line-height: 38px; }
#menu ul { width: 47%; padding: 0px; margin: auto; list-style: none; }
#menu ul li { position: relative; z-index: 99; flex: auto; }
#menu ul li.line { width: 1px; height: 15px; background-color: rgba(255, 255, 255, 0.5); }
#menu ul li a { font-weight: 600; display: block; position: relative; z-index: 1; text-align: center; text-decoration: none !important;  margin: 0px; text-transform: uppercase; font-size: 16px; color: #000000; font-family: 'NunitoRegular'; }
#menu ul li a.active, #menu ul li:hover > a { color: #0066b3; }
#menu ul li ul { position: absolute; min-width: 210px; background: #0066B3; box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1); -webkit-transform: perspective(600px) rotateX(-90deg); transform: perspective(600px) rotateX(-90deg); -webkit-transform-origin: 0 0 0; transform-origin: 0 0 0; opacity: 0; visibility: hidden; transition: all .5s; }
#menu ul li:hover > ul { -webkit-transform: perspective(600px) rotateX(0); transform: perspective(600px) rotateX(0);  opacity: 1; visibility: visible; transition: all .7s; }
#menu ul li ul li a { text-align: left; border-bottom: 1px solid rgba(255, 255, 255, 0.2); padding: 0; color: #fff !important; }
#menu ul li ul li:last-child > a { border-bottom: 0px;  }
#menu ul li ul li a span {
    font-size: 14px;
    padding: 12px 15px;
    margin: 0;
    display: block;
    line-height: 1;
}
#menu ul li ul li ul { top: 0px; left: 100%; }
.btn-search { position: relative; margin-left: 50px; }
.btn-search a { padding: 5px !important; line-height: 30px !important; width: 40px; font-size: 20px !important; background: #fff !important; border-radius: 50%; color: #0072bc !important; text-align: right; position: relative; top: 0; }
.btn-search a:after { display: none; }
.btn-search a i { position: relative; z-index: 10; background: transparent; }
.search_box_hide { position: absolute; top: 0; right: calc(100% + 5px); margin-right: 0px; z-index: 9; transition: all 0s; background: #ffffff; border-radius: 30px; }
.search_box_hide input { width: 0; border: none; outline: none; border-radius: 20px 0 0 20px; font-family: RR; font-size: 13px; color: #333; transition: all 0.5s; vertical-align: top; padding: 8px 0 7px; background: transparent; }
.search_box_hide.opening input { width: 250px; padding: 8px 15px 7px; }

/* Search */
.search { width: 180px; background: #fff; }
.search p { float: left; width: 35px; height: 35px; line-height: 35px; cursor: pointer; text-align: center; margin: 0px; color: var(--color-gray); font-size: 16px; }
.search input { width: calc(100% - 35px); float: left; outline: none; padding: 5px 0 5px 10px; border: 0px; background: transparent; font-size: 12px; }
.search input::-webkit-input-placeholder { font-weight: 600; color: #0066b3; font-size: 15px;font-family: 'NunitoExtraLight'; }
.search input:-moz-placeholder { font-weight: 600; color: #0066b3;  font-size: 15px; font-family: 'NunitoExtraLight';}
.search input::-moz-placeholder { font-weight: 600; color: #0066b3;  font-size: 15px; font-family: 'NunitoExtraLight';}
.search input:-ms-input-placeholder { font-weight: 600; color: #0066b3;  font-size: 15px; font-family: 'NunitoExtraLight';}

/*Go top*/
.progress-wrap { position: fixed; bottom: 70px; right: 19px; height: 50px; width: 50px; cursor: pointer; display: block; border-radius: 50px; z-index: 100; opacity: 0; visibility: hidden; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); -webkit-transition: all 400ms linear; -o-transition: all 400ms linear; transition: all 400ms linear; }
.progress-wrap.active-progress { opacity: 1; visibility: visible; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
.progress-wrap::after {position: absolute;font-family: 'Font Awesome 5 Free';content: '\f077';text-align: center;line-height: 50px;font-size: 16px;font-weight: 900;color: #1182FC;left: 0;top: 0;height: 50px;width: 50px;cursor: pointer;display: block;z-index: 1;-webkit-transition: all 400ms linear;-o-transition: all 400ms linear;transition: all 400ms linear;}
.progress-wrap svg path { fill: none; }
.progress-wrap svg.progress-circle path { stroke: #1182FC; stroke-width: 4; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 400ms linear; -o-transition: all 400ms linear; transition: all 400ms linear; }

/* Menu RP */
#menu-mobile { display: none; z-index: 10; background: #05A3DD; position: -webkit-sticky; position: sticky; top: 0; z-index: 99; }
.menu-bar-res { height: 40px; padding: 0px 10px; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; align-items: center; justify-content: space-between; }
#hamburger { display: block; width: 30px; height: 22px; position: relative; }
#hamburger:before, #hamburger:after, #hamburger span { background: #fff; content: ''; display: block; width: 100%; height: 3px; position: absolute; left: 0px; }
#hamburger:before { top: 0px; }
#hamburger span { top: 10px; }
#hamburger:after { top: 20px; }
#hamburger:before, #hamburger:after, #hamburger span { -webkit-transition: none 0.5s ease 0.5s; transition: none 0.5s ease 0.5s; -webkit-transition-property: transform, top, bottom, left, opacity; transition-property: transform, top, bottom, left, opacity; }
#mmenu { display: none; }
.mm-wrapper_opening #hamburger:before, .mm-wrapper_opening #hamburger:after { top: 10px; }
.mm-wrapper_opening #hamburger span { left: -50px; opacity: 0; }
.mm-wrapper_opening #hamburger:before { transform: rotate(45deg); }
.mm-wrapper_opening #hamburger:after { transform: rotate(-45deg); }
.mm-menu_opened { display: block !important; }
#mmenu h2 { font-weight: normal; font-size: 15px; margin: 0; }
.mm-listitem.heading { font-weight: bold; color: var(--color-medium-red); background: #dfdfdf; line-height: 20px; padding: 10px; text-transform: capitalize; margin-top: -1px; }
.mm-listitem.heading:after { display: none; }
.mm-wrapper__blocker { box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
div.search_mobi {position: absolute;z-index: 100;background: #fff;height: 30px;width: 70%;top: calc(50% - 15px);right: 10px;}
div.search_mobi:after { display: none; }
div.search_mobi input {padding: 0 20px;float: left;height: 30px!important;height: 29px; border: none;background: none;width: 86%;outline: none;color: #333;text-align: left;}
div.search_mobi i {padding: 8px 11px;cursor: pointer;display: flex;justify-content: center;align-items: center;}
div.search_mobi input::-moz-placeholder { color: #333; }
div.search_mobi input:-ms-input-placeholder { color: #333; }
div.search_mobi input:-moz-placeholder { color: #333; }

/* Slideshow */
.slideshow { position: relative; }
.slideshow a { display: block; cursor: pointer; }
.slideshow a img { width: 100%; object-fit: cover; object-position: center; }
.slideshow:hover .control-slideshow { opacity: 0.3; }
.slideshow .control-slideshow:hover { opacity: 0.8; }
.control-slideshow { opacity: 0; position: absolute; z-index: 2; top: calc(50% - 50px/2); width: 35px; height: 50px; text-align: center; line-height: 50px; font-size: 25px; cursor: pointer; margin: 0px; background-color: #000000; border-radius: 3px; }
.control-slideshow i { color: #ffffff; }
.prev-slideshow { left: 20px; padding-right: 3px; }
.next-slideshow { right: 20px; padding-left: 3px; }
#banner{
    display: none;
}
/* Footer */
.footer-top { border-bottom: 1px solid #0066B3; background-color: #F4F4F4; padding: 20px 0px 20px 0px; color: #333; border-top: 1px solid #0066B3; }
.footer-top a { color: #333; }
.footer-top a:hover { color: #f00; }
.footer-tit {  text-transform: uppercase; font-size: 28px; color: #0066b3; margin: 20px 0px 22px 0px; font-family: 'sfuidisplayheavy586470160b9e5'; line-height: 32px; }
.footer-1 { width: 770px;  }
.footer-content { line-height: 27px; color: #0066b3; font-size: 16px; font-family: 'sfuidisplaylight'; width: 636px; }
.footer-content p { margin: 0; }
.footer-content ul { margin: 7px 0 0 15px; max-width: 330px; }
.footer-content ul li { margin-bottom: 6px; }
.footer-mxh { margin-top: 10px; }
.footer-mxh li { margin-right: 3px; }
.footer-mxh span { margin-right: 8px; }
.footer-2 { width: 280px; margin-right: 20px; }
.slogan-newsletter { font-size: 13px; line-height: 22px; margin-bottom: 10px; color: var(--color-gray); max-width: 280px; }
.form-newsletter { display: flex; margin-bottom: 20px; max-width: 280px; }
.newsletter-input { position: relative; width: calc(100% - 60px); }
.newsletter-input input { padding: 4px 10px; font-size: 13px; border-radius: 0px; }
.newsletter-button { width: 60px; }
.newsletter-button input[type=submit] { width: 100%; border: 0px; background-color: var(--color-red); color: #fff; display: block; padding: 5px 16px; text-transform: uppercase; font-weight: 500; cursor: pointer; }
.footer-list { list-style: none; padding: 0px; margin: 0px; }
.footer-list li { margin-bottom: 5px; }
.footer-list li:last-child { margin-bottom: 0px; }
.footer-list li a { color: var(--color-black); }
.footer-list li a:hover { color: var(--color-medium-red); }
.footer-3 { width: 385px; padding-top: 85px; }
.footer-3 #footer-map iframe { display: block; width: 100%; max-height: 222px; }
.footer-bottom { color: #fff; background-color: #ffffff; padding: 6px 0; text-align: center; }
.copyright { margin-bottom: 0px; color: #0066b3; font-size: 16px; font-family: 'sfuidisplaymedium58646be638f96'; }
.copyright span { font-family: 'sfuidisplaysemibold58646eddcae92';color: #ff002a;}
.copyright a { color: #ff002a;   }
.copyright a:hover { color: #ff0; }
.statistic { list-style: none; margin: 0; padding: 0; }
.statistic span { margin: 0 10px; }
.statistic span:last-child { padding-right: 0px; }
#footer-map iframe { display: block; width: 100%; max-height: 222px; }

/* Sản phẩm nổi bật */
#sanphamnoibat { padding: 35px 0; }

/* Sản phẩm */
#sanpham { padding: 30px 0; }
.sanpham ~ .sanpham { margin-top: 50px; }
.product-list { max-width: 100%; text-align: center; font-size: 14px; color: #333; position: relative; padding: 0; margin: -5px 0 25px; display: flex; flex-flow: wrap; justify-content: center; }
.product-list li { display: block; min-width: 120px; padding: 7px 15px 6px; margin: 0 2.5px 5px; border: 1px solid #C6862E; border-radius: 30px; cursor: pointer; }
.product-list li.active { color: #FFF; background: #DA942D; border-color: #DA942D; }
.view-main { text-align: center; display: flex; justify-content: center; }
.view-main a { display: block; min-width: 120px; padding: 7px 15px 6px; margin: 0 2.5px 5px; border: 1px solid #DA942D; background: #DA942D; color: #fff; border-radius: 30px; cursor: pointer; }

/* Quảng cáo */
#quangcao img { width: 100%; max-height: 350px; object-fit: cover; object-position: center; }

/* Thư viện ảnh */
#thuvienanh { padding: 42px 0 55px; }
.grid-thuvienanh { display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(2, 220px); grid-gap: 10px 10px; }
.box-thuvienanh { position: relative; overflow: hidden; }
.box-thuvienanh img { position: absolute; width: 100%; height: 100%; object-fit: cover; object-position: center; left: 0; top: 0; transition: all 0.5s }
.box-thuvienanh-content { position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; padding: 15px 15px; text-align: center; font-weight: 600; font-size: 18px; color: #fff; display: flex; justify-content: center; align-items: center; background: rgba(0, 0, 0, 0); color: transparent; transition: all 0.7s; }
.box-thuvienanh:hover .box-thuvienanh-content { background: rgba(0, 0, 0, 0.7); color: #fff; }
.box-thuvienanh-content > * { position: relative; z-index: 9; }
.grid-thuvienanh .box-thuvienanh:nth-child(1) { grid-column: 1/3; grid-row: 1/3; }
.grid-thuvienanh .box-thuvienanh:nth-child(1) .box-thuvienanh-content { padding: 25px 15px; }

/* Bottom */
#bottom { padding: 0 0 50px; }
.bottom-left { width: 67%; }
.bottom-right { width: 30%; }
.bottom-title { border-bottom: 1px solid var(--color-red); margin-bottom: 1.5rem; }
.bottom-title h2 { display: inline-block; font-weight: 700; text-transform: uppercase; position: relative; padding-bottom: 10px; font-size: 20px; margin: 0; }
.bottom-title h2:after { content: ""; position: absolute; width: 100%; height: 4px; bottom: 0px; left: 0px; background-color: var(--color-red); }
.tintuc-flex { display: flex; flex-flow: wrap; justify-content: space-between; align-items: flex-start; }
.tintuc-l { float: left; width: 46.1538461538%; line-height: 24px; }
.tintuc-l-img { max-width: 100%; overflow: hidden; margin-bottom: 5px; }
.tintuc-l-img img { width: 100%; transition: all 0.5s; }
.tintuc-l-img:hover img { transform: scale(1.1); }
.tintuc-l h3 a { font-family: RB; font-size: 16px; color: #2f2f2f; line-height: 20px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }
.tintuc-l h3 a:hover { color: #d00; }
.tintuc-l p { margin: 9px 0 10px; font-family: RR; font-size: 13px; color: #666; text-align: justify; line-height: 18px; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden; }
.tintuc-l a.tintuc-l-more { font-family: RM; font-size: 13px; color: #2f2f2f; background: #fff; display: inline-block; vertical-align: top; padding: 8px 16px 7px; transition: all 0.5s; border-radius: 0; text-transform: none; border: 2px solid #333; text-transform: uppercase; }
.tintuc-l a.tintuc-l-more:hover { background: #2f2f2f; color: #fff; }
.tintuc-r { float: right; width: 51.2820512821%; height: 450px; overflow: hidden; }
.tintuc-r ul li { margin-bottom: 21px !important; }
.box-newsi { line-height: 20px; font-family: RR; font-size: 13px; color: #666; text-align: justify; }
.box-newsi-img { width: 150px; max-width: 42%; float: left; margin-right: 20px; }
.box-newsi h3 { font-family: RB; font-weight: normal; line-height: 20px; font-size: 15px; margin: 0 0 7px; padding: 0; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }
.box-newsi h3 a { color: #000; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }
.box-newsi h3 a:hover { color: #d00; }
.box-newsi-more { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; }
.video-main { position: relative; height: 400px; }
.video-main iframe { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; }
.listvideos { width: 100%; height: 40px; padding: 0px 10px; border: 1px solid #ccc; color: var(--color-black); margin-top: 10px; cursor: pointer; }

/* Đối tác */
#doitac { padding: 20px 0; background: #eaeaea; }
.owl-doitac { padding: 0 30px; }
.box-doitac { display: block; border: 1px solid #eee; }
.box-doitac img { width: 100%; }

/* Sản Phẩm */
.box-product { float: left; width: 23.5%; margin: 0 2% 2% 0; position: relative; }
.pic-product { background: #fff; border-radius: 5px; padding: 5px; border: 1px solid #eee; }
.pic-product img { width: 100%; border-radius: 3px; }
.content-product { padding: 14px 6px; text-align: center; }
.name-product { font-size: 16px; line-height: 23px; margin: 0; }
.name-product a { color: var(--color-black); }
.name-product a:hover { color: var(--color-medium-red); }
.price-product { margin: 5px 0; }
.price-product span { font-weight: 700; }
.price-new { font-size: 15px; font-weight: 500; color: var(--color-red); }
.price-old { padding-left: 10px; font-weight: 400 !important; color: var(--color-gray); }
.price-per { position: absolute; top: -8px; right: 10px; color: #fff; background-image: url(../img/giakm.png); font-size: 11px; border-radius: 2px; width: 45px; height: 43px; text-align: center; line-height: 43px; background-repeat: no-repeat;  font-family: 'sfuidisplaysemibold58646eddcae92'; font-size: 14px; }
.box-product-cart { display: none !important; font-size: 13px; }
.box-product-cart span { cursor: pointer; width: 49%; color: #fff; text-transform: capitalize; text-align: center; padding: 7px 5px; border-radius: 3px;  }
.box-product-cart-add { margin-right: 2%; background-color: var(--color-red); }
.box-product-cart-add:hover { background-color: var(--color-dark-red); }
.box-product-cart-buy { background-color: var(--color-green); }
.box-product-cart-buy:hover { background-color: var(--color-dark-green); }

/* Sản Phẩm Detail */
.grid-pro-detail { margin-bottom: 50px; }
.left-pro-detail { position: relative; float: left; width: 40%; text-align: center; margin-right: 2%; background: white; }
.left-pro-detail .MagicZoom { border: 1px solid #eee; padding: 7px; border-radius: 5px; }
.right-pro-detail { width: calc(100% - 42%); float: left; }
.gallery-thumb-pro { position: relative; margin-top: 10px; }
.owl-thumb-pro { padding: 0px 40px; }
.thumb-pro-detail { display: block !important; border: 1px solid #eee; padding: 5px; border-radius: 3px; cursor: pointer; }
.thumb-pro-detail.mz-thumb.mz-thumb-selected { border-color: #cecfd2; }
.thumb-pro-detail img { box-shadow: none !important; filter: brightness(100%) !important; border-bottom: 0px !important; padding-bottom: 0px !important; }
.title-pro-detail { text-transform: capitalize; font-size: 20px; display: block; font-weight: 700; margin: 10px 0 15px; }
.social-plugin-pro-detail { margin-bottom: 1rem; margin-top: 0px !important; }
.desc-pro-detail { margin-bottom: 1rem; }
.attr-pro-detail { list-style: none; padding: 0; margin: 0; }
.attr-pro-detail li { margin-bottom: 0.5rem; }
.attr-label-pro-detail { margin: 0px 5px 0px 0px; }
.attr-label-pro-detail.d-block { display: block; margin: 0px 0px 5px 0px; }
.attr-content-pro-detail { display: inline-block; margin-bottom: 0px; }
.price-new-pro-detail { font-weight: 700; font-size: 20px; color: var(--color-red); }
.price-old-pro-detail { font-weight: 400; color: var(--color-gray); text-decoration: line-through; padding-left: 5px; }
.color-pro-detail { display: inline-block; vertical-align: top; position: relative; width: 35px; height: 30px; margin: 0px 0px 3px 0px; border: 1px solid transparent; }
.size-pro-detail { border: 1px solid #ccc; padding: 3px 10px 4px 10px; display: inline-block; position: relative; }
.size-pro-detail.active, .color-pro-detail.active { border-color: #e5101d; color: #e5101d; }
.color-pro-detail.active:before, .size-pro-detail.active:before { content: ''; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; bottom: 0px; right: 0px; margin: auto; z-index: 1; background-image: url(../images/check-cart.png); background-repeat: no-repeat; background-position: bottom right; }
.color-pro-detail input[type=radio], .size-pro-detail input[type=radio] { outline: none; position: absolute; cursor: pointer; width: 100%; height: 100%!important; -webkit-appearance: none; border: 0px; top: 0px; left: 0px; }
.quantity-pro-detail { width: 100%; max-width: 110px; line-height: normal; display: flex; align-items: center; justify-content: space-between; text-align: center; }
.quantity-pro-detail span { line-height: 25px; padding: 0px; width: 30px; height: 30px; color: #5f5f5f; cursor: pointer; font-size: 22px; border: 1px solid #cccccc; }
.quantity-pro-detail span.quantity-plus-pro-detail { border-left: 0px; }
.quantity-pro-detail span.quantity-minus-pro-detail { border-right: 0px; }
.quantity-pro-detail input { height: 30px !important; border: 1px solid #cccccc; width: calc(100% - 60px); text-align: center; font-size: 14px; padding: 5px; line-height: inherit !important; }
.cart-pro-detail { margin-bottom: 1rem; display: flex; align-items: stretch; justify-content: flex-start; }
.cart-pro-detail a { width: auto; text-align: center; color: #fff; padding: 8px 15px; text-transform: uppercase; border-radius: 3px; cursor: pointer; }
.cart-pro-detail a.addnow { margin-right: 10px; background: #fd6e1d; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fd6e1d), to(#f59000)); background: -webkit-linear-gradient(top, #f59000, #fd6e1d); background: -moz-linear-gradient(top, #f59000, #fd6e1d); background: -ms-linear-gradient(top, #f59000, #fd6e1d); background: -o-linear-gradient(top, #f59000, #fd6e1d); }
.cart-pro-detail a.buynow { background-color: var(--color-green); }
.cart-pro-detail a.buynow:hover { background-color: var(--color-dark-green); }
.cart-pro-detail a i { vertical-align: top; margin-top: 3px; margin-right: 8px; }
.tags-pro-detail { margin: 1rem 0px 2rem 0px; }
.tags-pro-detail a { float: left; font-size: 12px; color: #fff; padding: 5px 10px 7px 10px; margin-right: 5px; margin-bottom: 5px; background-color: var(--color-red); border-radius: 3px; }
.tags-pro-detail a:hover { background-color: var(--color-medium-red); }
.tags-pro-detail a i { font-size: 10px; float: left; margin: 5px 5px 0px 0px; }
.tabs-pro-detail { margin: 25px 0 0; }
.tabs-pro-detail .ul-tabs-pro-detail { padding: 0; margin: 0; list-style: none; margin-bottom: 15px; border-bottom: 1px solid #e7e7e7; }
.tabs-pro-detail .ul-tabs-pro-detail li { cursor: pointer; float: left; margin-right: 5px; margin-bottom: 5px; background: #eee; padding: 5px 10px; }
.tabs-pro-detail .ul-tabs-pro-detail li.active { background: #333; color: #fafafa; }
.tabs-pro-detail .ul-tabs-pro-detail li:last-child { margin-right: 0px; }
.tabs-pro-detail .content-tabs-pro-detail { display: none; }
.tabs-pro-detail .content-tabs-pro-detail.active { display: block; }
.mgt-25{
    margin-top: 25px;
}

/* Bài viết */
.box-news { width: 49%; float: left; margin-bottom: 20px; display: block; }
.box-news:nth-child(2n) { float: right; }
.box-news:nth-child(2n+1) { clear: both; }
.pic-news { float: left; margin-right: 15px; width: 38%; margin-bottom: 5px; }
.pic-news img { width: 100%; }
.name-news { font-family: RM; color: #333; font-size: 18px; line-height: 25px; display: block; margin-bottom: 3px; }
.name-news a { color: #333; }
.name-news a:hover { color: var(--color-medium-red); }
.time-news { color: var(--color-gray); font-size: 13px; margin: 0; }
.desc-news { color: #777; margin: 3px 0 0; line-height: 22px; text-align: justify; }
.share { padding: 20px 10px 10px 15px; background: rgba(128, 128, 128, 0.15); margin-top: 15px; border-radius: 5px; }
.share b { display: block; margin-bottom: 5px; }

/* Bài viết liên quan */
.othernews b { margin-bottom: 10px; }
.list-news-other { padding-left: 10px; list-style: square; }
.list-news-other li { margin-bottom: 2px; }
.list-news-other li a { text-transform: none; color: #333333; }
.list-news-other li a:hover { color: var(--color-red); }

/* Album */
.box-album { float: left; width: 23.5%; margin: 0 2% 2% 0; text-align: center; cursor: pointer; }
.pic-album { position: relative; }
.pic-album img { width: 100%; }
.name-album { font-size: 16px; color: var(--color-black); line-height: 22px; margin-bottom: 0; padding: 10px; }

/* Video */
.box-video { float: left; width: 23.5%; margin: 0 2% 2% 0; text-align: center; cursor: pointer; }
.pic-video { position: relative; margin-bottom: 10px; }
.pic-video:before { content: ""; position: absolute; width: 50px; height: 35px; top: calc(50% - 50px/2); left: calc(50% - 35px/2); z-index: 1; background-repeat: no-repeat; background-image: url(../images/play.png); }
.pic-video img { width: 100%; }
.name-video { font-size: 16px; color: var(--color-black); line-height: 22px; margin-bottom: 0; padding: 0 10px; }

/* Contact */
.top-contact { display: flex; flex-flow: wrap; align-items: flex-start; justify-content: space-between; margin-bottom: 30px; justify-content: center; }
.top-contact .article-contact { width: 48%; }
.form-contact { width: 100%; }
.input-contact { position: relative; margin-bottom: 15px; }
.input-contact input, .input-contact textarea { width: 100%; padding: 0px; outline: none; font-size: 14px; }
.input-contact input { padding: 5px 10px; }
.input-contact textarea { resize: none; height: 150px; padding: 5px 10px; }
.input-contact .custom-file-label::after { content: attr(title); }
.bottom-contact { position: relative; height: 500px; }
.bottom-contact iframe { position: absolute; top: 0px; left: 0px; width: 100% !important; height: 100% !important; }

/* Toc */
.box-readmore { padding: 8px 15px; border: 1px solid #dedede; margin-bottom: 2rem; border-radius: 5px; background-color: #eeeeee; }
.box-readmore li ul>li { margin: 0; margin-bottom: 8px }
.box-readmore li ul>li:before { content: counters(item, ".") " " }
.box-readmore ul { list-style-type: none; counter-reset: item; margin-bottom: 0px; padding-left: 0px !important; margin-top: 8px; }
.box-readmore ul li { display: table; counter-increment: item; margin-bottom: 5px }
.box-readmore ul li:before { content: counters(item, ".") ". "; display: table-cell; padding-right: 5px }
.box-readmore ul li a { color: #333333; cursor: pointer; font-weight: 600; }
.box-readmore ul li a:hover { color: #767676; }

/* Like Share */
.social-plugin { display: flex; justify-content: flex-start; margin-top: 10px; }
.social-plugin .at-share-btn { margin-bottom: 0px !important; }
.social-plugin .zalo-share-button { margin-left: 3px; }

/* Phân Trang */
.pagination-home .pagination .page-item .page-link { color: #555555; font-size: .875rem; }
.pagination-home .pagination .page-item.active .page-link { color: #ffffff; background-color: #555555; border-color: #555555; }

/* Phân Trang Ajax */
.pagination-ajax { text-align: center; }
.pagination-ajax a { display: inline-block; vertical-align: top; margin: 0px 2px 3px 2px; color: #333; background: #eee; border: 1px solid rgba(161, 161, 161, 0.4); font-size: 12px; cursor: pointer; padding: 1px 10px 0; border-radius: 2px; }
.pagination-ajax a.current, .pagination-ajax a:hover { background: var(--color-red); color: #fff; border-color: var(--color-red); }

/* Popup custom */
.modal-custom .modal-footer { padding: 0.5rem; }
.modal-custom .modal-footer .btn { font-size: 14px; }

/* Popup */
#popup .modal-body { padding: 0px; }

/* Hidden Google Captcha */
.grecaptcha-badge { display: none !important; width: 0px !important; height: 0px !important; visibility: hidden !important; overflow: hidden; }

/* Hidden Check Grammar Coccoc */
coccocgrammar { display: none; }

/* Scroll Top */
.scrollToTop { width: 41px; height: 41px; text-align: center; font-weight: bold; color: #444; text-decoration: none; position: fixed; bottom: 65px; right: 25px; display: none; z-index: 10; cursor: pointer; }

/* Text Hide */
.text-split { overflow: hidden; text-overflow: ellipsis; white-space: normal; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; }
.text-split.text-split-1 { -webkit-line-clamp: 1; }
.text-split.text-split-2 { -webkit-line-clamp: 2; }
.text-split.text-split-3 { -webkit-line-clamp: 3; }

/* Transition All */
.transition { -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.3s ease-out; }

/* Scale IMG */
.scale-img { overflow: hidden; display: block; }
.scale-img img { width: 100%; -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.3s ease-out; -moz-transform: scale(1, 1); -webkit-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1); }
.scale-img:hover > img { -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.3s ease-out; -moz-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
.skew img { overflow: hidden; -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -o-transition: all 1.5s ease; -ms-transition: all 1.5s ease; transition: all 1.5s ease; }
.skew img:hover { border-radius: 50%; -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }

/*Hover Text*/
.hover-text h3 a { transition: all 0.5s; }
.hover-text h3 a:hover { color: #d00; }

/* Blink */
.blink { -webkit-animation-name: blink; -webkit-animation-duration: 1s; -webkit-animation-timing-function: linear; -webkit-animation-iteration-count: infinite; -moz-animation-name: blink; -moz-animation-duration: 1s; -moz-animation-timing-function: linear; -moz-animation-iteration-count: infinite; animation-name: blink; animation-duration: 1s; animation-timing-function: linear; animation-iteration-count: infinite; }
@-moz-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

/* Button Frame */
.btn-frame { display: block; width: 50px; height: 50px; position: fixed; right: 20px; z-index: 10; cursor: pointer; }
.btn-frame i { display: flex; display: -ms-flex; justify-content: center; align-items: center; -ms-flex-align: center; width: 50px; height: 50px; border-radius: 50%; background: #1182FC; position: relative; z-index: 1; }
.btn-frame i img { vertical-align: middle; width: 70%; }
.btn-frame .animated.infinite { animation-iteration-count: infinite; }
.btn-frame .kenit-alo-circle { width: 60px; height: 60px; top: -5px; right: -5px; position: absolute; background-color: transparent; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; border: 2px solid rgba(7, 41, 103, 0.8); opacity: .1; border-color: #1182FC; opacity: .5; }
.btn-frame .zoomIn { animation-name: zoomIn; }
.btn-frame .animated { animation-duration: 1s; animation-fill-mode: both; }
.btn-frame .kenit-alo-circle-fill { width: 70px; height: 70px; top: -10px; right: -10px; position: absolute; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; border: 2px solid transparent; -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; transition: all .5s; background-color: rgba(7, 41, 103, 0.35); opacity: .4; }
.btn-frame .pulse { animation-name: pulse; }

/* Ứng dụng */
.ungdung { position: fixed; right: 18px; top: 120px; list-style: none; margin: 0; padding: 0; z-index: 9; display: flex; flex-direction: column; }
.ungdung li { margin: 8px 0 0; }

/* Zalo */
.btn-zalo { bottom: 315px; }

/* Phone */
.btn-phone { bottom: 230px; }

/* Messenger */
.js-facebook-messenger-container.closed, .js-facebook-messenger-tooltip.closed { display: none !important }
.js-facebook-messenger-tooltip { bottom: 97px; right: 97px }
.js-facebook-messenger-tooltip { color: #404040; background: #fff }
.js-facebook-messenger-box, .js-facebook-messenger-button, .js-facebook-messenger-tooltip { z-index: 999 }
.js-facebook-messenger-tooltip { display: none; position: fixed; text-align: center; border-radius: 10px; overflow: hidden; font-size: 12px; line-height: 1; padding: 10px; border: 1px solid rgba(0, 0, 0, 0.1); box-shadow: rgba(0, 0, 0, 0.15) 0 2pt 10pt; z-index: 1.0E+30 }
.js-facebook-messenger-close-tooltip { width: 10px; height: 10px; display: inline-block; cursor: pointer; margin-left: 10px }
.js-facebook-messenger-box.rubberBand { -webkit-animation-name: rubberBand; animation-name: rubberBand }
.js-facebook-messenger-box.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both }
.js-facebook-messenger-box, .js-facebook-messenger-button, .js-facebook-messenger-tooltip { z-index: 999 }
.js-facebook-messenger-box { display: block; position: fixed; cursor: pointer; bottom: 150px; right: 17px; width: 56px; height: 56px; text-align: center; background: #1182FC; border-radius: 100%; overflow: hidden; z-index: 99; -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3) }
.js-facebook-messenger-box.rotate svg#fb-msng-icon { transform: rotate(0deg) }
.js-facebook-messenger-box svg#fb-msng-icon { width: 32px; height: 33px; position: absolute; top: 13px; left: 12px; opacity: 1; overflow: hidden; -webkit-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out; -moz-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out; -o-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out; transition: opacity 160ms ease-in-out, transform 160ms ease-in-out; }
.js-facebook-messenger-box.rotate svg#close-icon { transform: rotate(-45deg) }
.js-facebook-messenger-box svg#close-icon { opacity: 0; width: 19px; height: 20px; position: absolute; top: 19px; left: 19px; -webkit-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out; -moz-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out; -o-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out; transition: opacity 160ms ease-in-out, transform 160ms ease-in-out; }
.js-facebook-messenger-container, .js-facebook-messenger-container-button { z-index: 1000 }
.js-facebook-messenger-container { position: fixed; opacity: 0; transform: translateY(50px); bottom: 110px; right: 90px; border-radius: 10px; pointer-events: none; box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16); -webkit-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out; -moz-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out; -o-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out; transition: transform 160ms ease-in-out, opacity 160ms ease-in-out }
.js-facebook-messenger-top-header { width: 300px }
.js-facebook-messenger-top-header { color: #fff; background: #1182FC }
.js-facebook-messenger-top-header { display: block; position: relative; width: 300px; background: #1182FC; color: #fff; text-align: center; line-height: 1; padding: 10px; font-size: 14px; border-top-left-radius: 10px; border-top-right-radius: 10px }
.js-facebook-messenger-container iframe, .js-facebook-messenger-container-button iframe { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px }
.js-facebook-messenger-box, .js-facebook-messenger-button, .js-facebook-messenger-tooltip { z-index: 999 }
.js-facebook-messenger-container, .js-facebook-messenger-container-button { z-index: 1000 }
.js-facebook-messenger-top-header { color: #fff; background: #1182FC }
.js-facebook-messenger-top-header { width: 300px }
.js-facebook-messenger-tooltip { color: #404040; background: #fff }
.js-facebook-messenger-container.open { transform: translateY(0px); opacity: 1; pointer-events: all }
.js-facebook-messenger-tooltip { bottom: 97px; right: 97px }
.js-facebook-messenger-box.open svg#fb-msng-icon { opacity: 0 }
.js-facebook-messenger-box.rotate.open svg#close-icon { transform: rotate(0deg) }
.js-facebook-messenger-box.open svg#close-icon { opacity: 1 }

/* Cart fix */
.cart-fixed { position: fixed; right: 20px; bottom: 390px; z-index: 10; background: #1182FC; width: 55px; height: 55px; text-align: center; color: #fff !important; border-radius: 100%; display: flex; align-items: center; justify-content: center; }
.cart-fixed i { font-size: 20px; }
.cart-fixed span { position: absolute; top: 0px; right: -5px; color: #fff; width: 25px; height: 25px; background: var(--color-red); text-align: center; line-height: 25px; font-size: 11px; border-radius: 100%; }

/* Toolbar */
.toolbar { background: var(--color-red); width: 100%; padding: 3vw; bottom: 0px; position: fixed; z-index: 500; height: auto; left: 0px; }
.toolbar ul { list-style: none; display: flex; align-items: center; justify-content: space-between; padding: 0px; margin: 0px; }
.toolbar ul li { text-align: center; width: 25%; }
.toolbar ul li a { display: block; width: 100%; cursor: pointer; }
.toolbar ul li a img { height: 6vw; width: auto; }
.toolbar ul li a span { font-weight: 400; color: #fff; font-size: 3.5vw; display: none; }

/* Fixbar */
.fixbar { bottom: 0; display: block; background: #f0eff4; border-top: 1px solid #ddd; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: fixed; margin: 0; z-index: 500; -webkit-backface-visibility: hidden; backface-visibility: hidden; height: 50px; }
.fixbar ul { margin: 0px; padding: 0px; list-style: none; }
.fixbar ul li { display: inline-block; margin: 0 auto 10px; text-align: center; width: 25%; }
.fixbar .icon-cart-mobile, .fixbar .icon-cart-new, .fixbar .icon-home-new, .fixbar .icon-hotdeal-new { width: 20px; height: 20px; display: block; margin: 8px auto 0; }
.fixbar .icon-cart-mobile { background: url(../images/cart-mobile.png) no-repeat; }
.cart-total-header-mobile { font-size: 10px; position: absolute; background: red; color: #fff !important; border-radius: 50%; height: 15px; width: 15px; line-height: 15px; top: 5px; margin-left: 5px; }
.fixbar ul li a { font-size: 11px; text-decoration: none; color: #333; }
.fixbar ul li a i { font-size: 20px; }

/* Plugbar */
.plugbar { position: fixed; bottom: 0; left: 0; border-top: 1px solid #eae6e6; width: 100%; right: 0; max-width: 767px; margin: 0 auto; background: #fff; padding: 9px 10px 10px 7px; z-index: 10; }
.plugbar ul { list-style: none; padding: 0; margin: 0px; display: -webkit-flex; display: -moz-flex; display: flex; justify-content: space-between; align-items: center; }
.plugbar ul li { width: 20%; float: left; }
.plugbar ul li a { display: block; color: #696969; font-size: 12px; text-align: center; position: relative; }
.plugbar ul li a i { font-size: 20px; color: #696969; }
.plugbar ul li a span { position: absolute; width: 50px; height: 50px; top: -40px; left: calc(50% - 50px/2); font-size: 14px; display: block; border: 1px solid rgba(234, 230, 230, 0.5); border-radius: 100%; }

/* Fix toolbar */
.fix-toolbar { background: #05A3DD; width: 100%; padding: 5px; bottom: 0; position: fixed; height: auto; line-height: 25px; left: 0; right: 0; margin: 0 auto; display: none; border-top: 1px solid #fff; z-index: 99; }
.fix-toolbar img { vertical-align: top; }
.fix-toolbar ul { display: flex; align-items: center; justify-content: space-between; padding: 5px; list-style: none; margin: 0; }
.fix-toolbar ul li { text-align: center; width: 20%; }
.fix-toolbar ul li a { display: block; width: 100%; cursor: pointer; color: #fff; font-size: 30px; }
.fix-toolbar ul li a img { height: 25px!important; width: auto; }
.fix-toolbar ul li a span { font-weight: 400; color: #fff; font-size: 13px; display: none; }

/* Combo Phone */
.support-online { position: fixed; z-index: 999; left: 10px; bottom: 0px; }
.support-online a { position: relative; margin: 20px 10px; text-align: left; width: 40px; height: 40px; }
.support-online i { width: 40px; height: 40px; background: #43a1f3; color: #fff; border-radius: 100%; font-size: 20px; text-align: center; line-height: 1.9; position: relative; z-index: 999; }
.support-online a span { border-radius: 2px; text-align: center; background: rgb(103, 182, 52); padding: 9px; display: none; width: 180px; margin-left: 10px; position: absolute; color: #ffffff; z-index: 999; top: 0px; left: 40px; transition: all 0.2s ease-in-out 0s; -moz-animation: headerAnimation 0.7s 1; -webkit-animation: headerAnimation 0.7s 1; -o-animation: headerAnimation 0.7s 1; animation: headerAnimation 0.7s 1; }
.support-online a:hover span { display: block; }
.support-online a { display: block; }
.support-online a span:before { content: ""; width: 0; height: 0; border-style: solid; border-width: 10px 10px 10px 0; border-color: transparent  rgb(103, 182, 52) transparent transparent; position: absolute; left: -10px; top: 10px; }
.support-online .kenit-alo-circle-fill { width: 60px; height: 60px; top: -10px; position: absolute; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; border: 2px solid transparent; -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; transition: all .5s; background-color: rgba(0, 175, 242, 0.5); opacity: .75; right: -10px; }
.support-online .kenit-alo-circle { width: 50px; height: 50px; top: -5px; right: -5px; position: absolute; background-color: transparent; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; border: 2px solid rgba(30, 30, 30, 0.4); opacity: .1; border-color: #0089B9; opacity: .5; }
.support-online .support-online .btn-support { cursor: pointer; }
.support-online .mes i { background: orange; }
.support-online .sms i { background: red; }
.support-online .call-now i { background: green; }

/* Phone Switch */
.widget-mobile { position: fixed; left: 50%; transform: translateX(-50%); bottom: 10px; z-index: 9999999; }
#my-phone-circle { position: relative; width: 50px !important; height: 50px !important; }
.wcircle-open .wcircle-icon i:before { content: '\f00d'; }
.wcircle-icon { background: #1282fc; border-radius: 50%; display: flex !important; display: -ms-flex !important; align-items: center; -ms-flex-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: relative !important; }
.wcircle-icon:before { position: absolute; content: ''; width: 60px; height: 60px; background: rgba(18, 130, 252, .5); border: 1px solid #fff; border-radius: 50%; left: -5px; top: -5px; -webkit-animation: pulse 1s infinite ease-in-out; -moz-animation: pulse 1s infinite ease-in-out; -ms-animation: pulse 1s infinite ease-in-out; -o-animation: pulse 1s infinite ease-in-out; animation: pulse 1s infinite ease-in-out; }
.wcircle-icon:after { position: absolute; content: ''; width: 80px; height: 80px; background: rgba(18, 130, 252, .5); border-radius: 50%; left: -15px; top: -15px; -webkit-animation: zoomIn 2s infinite ease-in-out; -moz-animation: zoomIn 2s infinite ease-in-out; -ms-animation: zoomIn 2s infinite ease-in-out; -o-animation: zoomIn 2s infinite ease-in-out; animation: zoomIn 2s infinite ease-in-out; }
.wcircle-menu { position: absolute !important; left: 0; top: 0; display: none; }
.wcircle-menu-item { width: 50px; height: 50px; background: #1282fc; border-radius: 50%; display: flex; display: -ms-flex; align-items: center; -ms-flex-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.wcircle-menu-item img { width: 50px; height: 50px; display: block; border-radius: 50%; }
.wcircle-menu-item i, .wcircle-icon i { font-size: 25px; color: #fff; position: relative; z-index: 9999; }
.shake-anim { -webkit-animation: shake-anim 1s infinite ease-in-out; -moz-animation: shake-anim 1s infinite ease-in-out; -ms-animation: shake-anim 1s infinite ease-in-out; -o-animation: shake-anim 1s infinite ease-in-out; animation: shake-anim 1s infinite ease-in-out; -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; transform-origin: 50% 50% }
.box-sp:nth-child(3n) { margin-right: 0; }
.box-sp:nth-child(3n + 1) { clear: both; }
.box-product:nth-child(4n) { margin-right: 0; }
.box-product:nth-child(4n + 1) { clear: both; }
.box-album:nth-child(4n+1) { clear: both; }
.box-album:nth-child(4n) { margin-right: 0px; }
.box-video:nth-child(4n+1) { clear: both; }
.box-video:nth-child(4n) { margin-right: 0; }
/*Video slick*/
#video-slick{display:flex;justify-content:space-between;}
.video-left{width: calc(100% - 146px);height: 406px;}
.video-right{width: 135px;max-height: 406px;}
.video-right .slick-video *{vertical-align:top;}
.video-right .slick-video .slick-slide{border:none!important;}
.pvd{cursor:pointer;height: 128px;margin-bottom: 11px;}
.pvd img{width: 135px;height: 128px;object-fit:cover;}
/* Tin tức */
.bgr-tintuc{
    background-color: #DDECFC;
}
.main-tintuc{
    padding-top: 40px;
    padding-bottom: 60px;
}
.slick-tintuc{
    margin: 0px -15px 0px -15px;
}
.img-tintuc a{
    border: 1px solid #d9d9d9;
}
.wrap-tintuc{
    margin: 0px 15px 0px 15px; 
}
.text-tintuc{
    text-align: center;
    margin-bottom: 30px;
   
}
.text-tintuc p{
    font-size: 28px;
    font-family: 'sfuidisplayheavy586470160b9e5';
    color: #0066b3;
}
.text-imgtt{
    margin-top: 16px;
}
.text-imgtt h3 a{
    font-size: 16px;
    color: #000;
    font-family: 'SFUIDisplayBold';
    text-transform: uppercase;
    min-height: 31px;
}
.text-imgtt p{
    color: #898989;
    font-family: 'sfuidisplaylight';
    font-size: 16px;
    line-height: 18px;
}
/* Sản phẩm nổi bật */
.bgr-sanphamnoibat{
    background-image: url(../img/bgr-sanphamnoibat.jpg);
    background-size: cover;
}
.main-sanphamnoibat{
    padding-top: 100px;
    padding-bottom: 55px;
}
.text-sanphamnoibat{
    text-align: center;
    margin-bottom: 35px;
}
.text-sanphamnoibat p{
    font-size: 28px;
    font-family: 'sfuidisplayheavy586470160b9e5';
    color: #0066b3;
    margin-bottom: 6px;
}
.div-sanphamnoibat{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -32px -15px;
}
.wrap-sanphamnoibat{
    width: calc(100%/4);
    padding: 0px 15px 32px 15px;
}
.img-sanphamnoibat a{
    border-radius: 15px;
}
.wrap-sanphamnoibat1{
    background-color: #ffffff;
    border-radius: 15px;
    padding-bottom: 10px;
    padding-top: 15px;
    box-shadow: 2px 4px 8px 2px rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 8%);
}
.wrap-sanphamnoibat11{
    background-color: #ffffff;
    border-radius: 15px;
    padding-bottom: 10px;
    padding-top: 15px;
}
.wrap-tintuc:hover .wrap-sanphamnoibat11 .muangay-giohang{
    display: block;
}
.img-sanphamnoibat{
    position: relative;
}
.text-giasp{
    display: flex;
    justify-content: space-between;
}
.text-tensp h3 a{
    color: #000000;
    font-family: 'SFUIDisplayBold';
    font-size: 18px;
    min-height: 43px;
}
.text-giasp2{
    color: #ff002a;
    font-family: 'SFUIDisplayBold';
    font-size: 18px; 
}
.text-giasp1{
    text-decoration: line-through;
    font-size: 14px;
    color: #a2a2a2;
}
.ten-gia-sanphamnoibat{
    padding: 0px 15px;
}
.text-tensp{
    margin-bottom: 12px;
    margin-top: 7px;
}
.xemthem-tatcasanphamnoibat a{
    color: #ffffff;
    background-color: #0066b3;
    padding: 6px 40px;
    border-radius: 5px;
    font-family: 'sfuidisplaysemibold58646eddcae92';
    font-size: 18px;
}
.xemthem-tatcasanphamnoibat:hover a{
    color: #0066b3;
    background-color: #ffffff;
}
.xemthem-tatcasanphamnoibat{
    text-align: center;
    margin-top: 55px;
}
.wrap-sanphamnoibat:hover .muangay-giohang{
    display: block;
}
.slick-slide img{
    display: inherit;
}
.muangay-giohang{
    background-color: #0066B3;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    display: none;
    padding: 2px 0px;
}
.themvaogio{
    font-size: 15.5px;
    color: #ffffff;
    font-family: 'sfuidisplaymedium58646be638f96';
    padding-left: 15px;
}
/* Máy lọc nước */
.bgr-maylocnuoc{
    background-image: url(../img/bgr-maylocnuoc.jpg);
    background-size: cover;
    border-top: 1px solid #74b3ff;
}
.main-maylocnuoc{
    padding-top: 35px;
    padding-bottom: 55px;
}
.text-maylocnuoc{
    text-align: center;
    margin-bottom: 32px;
}
.text-maylocnuoc p{
    font-size: 28px;
    font-family: 'sfuidisplayheavy586470160b9e5';
    color: #0066b3;
}
.xemthem-tatcasanphammaylocnuoc{
    text-align: center;
    margin-top: 67px;
}
.xemthem-tatcasanphammaylocnuoc a{
    color: #0066b3;
    border: 1px solid #0066b3;
    padding: 5px 40px;
    border-radius: 5px;
    font-family: 'sfuidisplaysemibold58646eddcae92';
    font-size: 18px;
}
.xemthem-tatcasanphammaylocnuoc:hover a{
    color: #0066b3;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

/* Dự án */
.bgr-duan{
    background-color: #F4F4F4;
}
.main-duan{
    padding-top: 45px;
}
.text-duan{
    text-align: center;
    margin-bottom: 35px;
}
.text-duan p{
    font-size: 28px;
    font-family: 'sfuidisplayheavy586470160b9e5';
    color: #0066b3;
}
.img-duan{
    position: relative;
}
.ten-duan{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ten-duan h3 a{
    color: #ffffff;
    font-size: 25px;
    font-family: 'sfuidisplayblack58646a6b80d5a';
    text-transform: uppercase;
    padding: 0px 20px;
    text-align: center;
}   
/* Đối tác */
.main-doitac{
    padding-top: 42px;
    padding-bottom: 45px;
}
.text-doitaccuachungtoi{
    text-align: center;
    margin-bottom: 32px;
}
.text-doitaccuachungtoi p{
    font-size: 28px;
    font-family: 'sfuidisplayheavy586470160b9e5';
    color: #0066b3;
}
.slick-doitac .slick-prev:before{
	background-image: url(../img/next1.png);
	background-repeat: no-repeat;
	font-size: 36px;
	color: transparent;
    margin-left: -52px;
}
.slick-doitac .slick-next:before{
	background-image: url(../img/next2.png);
	background-repeat: no-repeat;
	font-size: 36px;
	color: transparent;
}
.logo a{
    margin: auto 0px;
}
.giohangmenu p{
    padding-left: 26px;
    background-image: url(../img/giohangmenu.png);
    background-repeat: no-repeat;
    background-position: 0 11px;
    color: #000000;
}
.giohangmenu{
    margin-left: 20px;
}
.search::after{
    content: "";
    position: absolute;
    width: 170px;
    height: 1px;
    background: #bbbbbb;
    margin: 28px 0px 0px 9px
}
.logo{
    margin-right: 20px;
}
.c1-menu{
    display: flex;
    width: 82% !important; 
}
.ten-c1-menu img{
    padding-left: 5px;
}
.c1-c2-menu{
    background-color: #0066B3;
}
.ten-c1-menu{
    font-family: 'NunitoLight';
    font-size: 14px;
    color: #ffffff;
}
.sl_a{position: relative;width: 1920px; height: 773px;cursor: move;overflow: hidden;margin: auto;}
.sl_a img{width: 100%; display: block;height: 100%;}

.sl_a .jssora05r{width: 29px; height: 55px;top: calc(50% - 27.5px) !important;background: url(../images/nex.png) no-repeat;right: 58px;opacity: 0;}
.sl_a .jssora05l{width: 29px; height: 55px;top: calc(50% - 27.5px) !important;background: url(../images/pre.png) no-repeat;left: 58px;opacity: 0;}
.sl_a:hover .jssora05r{opacity: 1;z-index: 10;}
.sl_a:hover .jssora05l{opacity: 1;z-index: 10;}
.captionOrange,.captionBlack{color:#fff;font-size:20px;line-height:30px;text-align:center;border-radius:4px}.captionOrange{background-color:rgba(0,0,255,0.3);color:#fff}.captionBlack{font-size:16px;background:#000;background-color:rgba(0,0,0,0.4)}a.captionOrange,A.captionOrange:active,A.captionOrange:visited{color:#fff;text-decoration:none}a.captionOrange:hover{color:#eb5100;text-decoration:underline;background-color:#eee;background-color:rgba(238,238,238,0.7)}.jssora05l{display:block;position:absolute;width:40px;height:50px;cursor:pointer;background:url(../images/next.png) no-repeat;overflow:hidden;left:0px;top:33% !important}.jssora05r{display:block;position:absolute;width:40px;height:50px;cursor:pointer;background:url(../images/prev.png) no-repeat;overflow:hidden;right:0px;top:33% !important}.jssora05l.jssora05ldn{background-position:-250px -40px}.jssora05r.jssora05rdn{background-position:-310px -40px}.caption-box{width:600px;height:200px;position:absolute;bottom:77px;left:30% !important}.caption-box .name-cap{text-transform:uppercase;font-size:19px;padding-left:100px;padding-right:50px;display:table;height:40px;line-height:40px;color:#000;text-decoration:none;margin-top:-20px;background:#fff;background-size:100% 40px;min-width:200px}.caption-box .mota-caption ul{list-style:none}.caption-box .mota-caption{padding:25px 20px 20px 20px;color:#fff;font-size:16px;line-height:25px;height:100%;overflow:hidden;box-sizing:border-box;font-family:'robotoregular'}

.modal-content-cart{
    border-radius: 10px;
}
.modal-body-cart{
    text-align: center;
    padding: 40px 0;
}
.modal-body-cart img{
    width: 127px;
    height: 127px;
    border-radius: 50%;
}
.modal-body-cart h6{
    color: #000;
    font-size: 20px;
    font-family: RM;
    margin-top: 10px;
    margin-bottom: 10px;
}
.modal-body-cart .modal-des{
    color: #666666;
    font-size: 16px;
    font-family: RR;
}
.title-flashsale{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    margin-bottom: 23px;
}
.left-title-flashsale{
    display: flex;
    align-items: center;
}
.title-flashsale h2{
    color: #161616;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.time-flashsale{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 23px;
}
.time-flashsale span{
    color: #ffffff;
    font-size: 17.02px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 10px;
    text-align: center;
    background: #161616;
}
.title-flashsale > span:last-child{
    color: #cf0e0e;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}
@-webkit-keyframes my {
    0% { color: #000000; } 
    50% { color: red;  } 
    100% { color: #000000;  } 
}
@-moz-keyframes my { 
    0% { color: #000000;  } 
    50% { color: red;  }
    100% { color: #000000;  } 
}
@-o-keyframes my { 
    0% { color: #000000; } 
    50% { color: red; } 
    100% { color: #000000;  } 
}
@keyframes my { 
    0% { color: #000000;  } 
    50% { color: red;  }
    100% { color: #000000;  } 
} 
.test {
    font-size:24px;
    font-weight:bold;
    -webkit-animation: my 1000ms infinite;
    -moz-animation: my 100ms infinite; 
    -o-animation: my 1000ms infinite; 
    animation: my 1000ms infinite;
}